spring:
  profiles: default
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    # 使用druid数据源
    initialSize: 1 #连接池初始化数量
    minIdle: 1 #最小连接数量
    maxActive: 50 #最大连接数量
    maxWait: 60000 #获取连接等待超时的时间
    timeBetweenEvictionRunsMillis: 60000 # 配置间隔多久才进行一次检测需要关闭的空闲连接
    minEvictableIdleTimeMillis: 300000 #配置一个连接在池中最小生存的时间
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: false
server:
  port: 80



